---
export interface Props {
  prevURL: string;
  nextURL: string;
}
const { nextURL, prevURL } = Astro.props as Props;
---

<div
  class="grid grid-cols-2 bg-slate-300 align-self-bottom mt-auto sticky bottom-0 gap-5"
>
  <a class="px-5 py-3" href={prevURL}>Prev</a>
  <a class="text-right px-5 py-3" href={nextURL}>Next</a>
</div>
