---
export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
    <meta name="description" content="Canada and United States Ligue 1 matches TV schedule.">
		<title>{title}</title>
	</head>
	<body class="bg-gradient-to-tr from-sky-50 bg-slate-50">
		<slot />
	</body>
</html>
